.advantages {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
  border-bottom: 1px solid #ececec;

  &-container {
    @extend %Flex0margin;
  }

  &-label {
    display: none;
  }
}

.advantages .list {
  @extend %Flex0margin;

  &-item {
    max-width: 270px;
    border-radius: 4px;
    overflow: hidden;

    &:not(:nth-last-child(-n + 1)) {
      margin-right: 30px;
    }
  }
}

.item .icon-container {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  border-radius: 4px;
  margin-left: 0px;
  background-color: #f5f4fa;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: left;
}

.paragraph-text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  color: #757575;
  margin-top: 10px;
  text-align: left;
}
