.duties {
  padding: 94px 0;

  .container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  }
}

.duties .list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.duties .title {
  @extend %Font700_36;
  line-height: 1.17;
  text-align: center;
}

.duties .item {
  display: flex;
  flex-direction: column;
  min-width: 370px;
  position: relative;

  &:not(:nth-last-child(-n + 1)) {
    margin-right: 30px;
  }
}

.duties-title {
  @extend %Font700_14;
  line-height: 1.14;
  display: flex;
  width: 370px;
  min-height: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.duties-title-item {
  display: inline-block;
  margin: auto;
}
