%Font400_18 {
  font-weight: 400;
  font-size: 18px;
}

%Font400_20 {
  font-weight: 400;
  font-size: 20px;
}

%Font400_14 {
  font-weight: 400;
  font-size: 14px;
}

%Font500_16 {
  font-weight: 500;
  font-size: 16px;
}

%Font700_14 {
  font-weight: 700;
  font-size: 14px;
}

%Font700_16 {
  font-weight: 700;
  font-size: 16px;
}

%Font700_36 {
  font-weight: 700;
  font-size: 36px;
}

%Font700_18 {
  font-weight: 700;
  font-size: 18px;
}

%Font900_44 {
  font-weight: 900;
  font-size: 44px;
}

%Font700_26 {
  font-weight: 700;
  font-size: 26px;
}

%Font500_14 {
  font-weight: 500;
  font-size: 14px;
}

%Flex0margin {
  display: flex;
  margin: 0 auto;
}
